body, html{
	height:100%;
}

body{
	font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
}

#jetform1 h3{
	margin-top:0;
}

#jetform1 .form-group{
	height:35px;
}


.deleteType, .lnkFlights{
	cursor: pointer;
}

.jetform1{
	padding:0 10%;
}

.bodyloaders{
	position:fixed;
	top:0;
	left:0;
	color:#33cccc;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.8);	
	display:none;
	z-index:100;
}

.bodyloaders i{
	position:absolute;
	left:50%;
	top:50%;
}

.action-btn{
	text-align:center;
}

/*html, body {height: 100%;}*/

.form-control::-moz-placeholder, .form-control::-webkit-input-placeholder {
    color: #dadada;
   /* opacity: 1;*/
}

input::-webkit-calendar-picker-indicator{
    display: none;
}
input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
	
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
  
}

.setFavorite{
	width:30px;
	height:30px;
	position:absolute;
	right:15px;
	text-align:center;
	cursor:pointer;
	color:#fff;
}
 

.booking-time li.count {
    min-width: 62px;
}

/*#jsg-content
{
	 min-height: 700px;
}*/
.jsg-banner {
    background: rgba(0, 0, 0, 0) url("../assets/jet-set-genie.jpg") no-repeat scroll 100% center / cover ;
	min-height: 400px;
	position:relative;
	top:0;
}
 
.col-centered {
 margin:0 auto;
 float:none;
}
.main {
    padding: 160px 0 40px;
}
/*.main {
    padding: 160px 0 0;
}
.jsg-banner {
    background: rgba(0, 0, 0, 0) url("../assets/sunset-plane.png") no-repeat scroll 100% center / cover ;
    min-height: 425px;
}*/
 

.steps h2 {
    color: #fff;
     font-size: 53px;
      margin: 20px 0 25px;
    text-transform: uppercase;
	font-weight:300;
	
}
.steps label {
    color: #fff;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
	margin-right: 5px;
	  font-weight: normal;
}
/*.steps input {
    border-radius: 0;
}*/
.leaving, .returning {
    width: 106px !important;
    padding: 6px 5px !important;
    font-size: 13px;
    text-transform: uppercase;
	   /* color: #b1b1b1;*/
}
.leaving {
	
    margin-right: 7px;
   
}



/*.returning {
    width: 100px !important;
}
.leaving {
    margin-right: 30px;
    width: 100px !important;
}*/

.lobster-font {
	font-size: 35px;
    color: #118e92;
	font-family: 'Lobster', cursive;
}
.inner-content h3
{
	margin: 0;
    padding: 0 0 50px;
}


.light {
    color: #44c2c6;
}
.inner-content {
    padding: 70px 0;
    text-align: center;
}

.inner-content p {
     color: #7e7e7f;
	 line-height: normal;
    font-size: 15px;
    padding: 0 80px;
}
.home-airport {
    width: 265px !important;
}
.jet-set-submit {
    background-color: #44c2c6;
    border: 1px solid #44c2c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    margin-left: 30px;
    padding: 4px 10px;
    text-transform: uppercase;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.inner-content h4 {
    margin-bottom: 15px;
    margin-top: 20px;
    min-height: 33px;
    text-transform: uppercase;
	font-weight:300;
	font-size:18px;
}
.footer-copyright p {
    color: #fff;
    font-size: 15px;
    padding: 3px 0 10px;
}
footer {
    background-color: #96655b;
    margin: 20px 0 0;
    padding: 10px 0 0;
}
.social-icons li {
	 
    display: inline-block;
    list-style: outside none none;
}
.social-icons a {
    padding: 10px;
}
p, h4
{
    color: #7e7e7f;
    font-size: 15px;
    line-height: normal;
	margin-bottom: 0;
}
/*.social-icons li {
    float: left;
    list-style: outside none none;
    padding: 0 5px;
}
.social-icons ul {
    float: right;
	margin-bottom: 0;
}*/
.social-icons .fa {
    color: #fff;
    font-size: 25px;
}
/*.blocks {
    display: table;
    margin-left: 54px;
    text-align: center;
    width: 100%;
}*/
.blocks a {
    display: inline-block;
    float: none;
    padding: 0 20px;
}
.blocks label {
    margin-right: 0;
    text-align: center;
}
.blocks label:hover {
    color: #44c2c6;
	cursor:pointer;
}
.step-2 h4 {
    color: #fff;
}
/*.step-2 h4:hover {
    color: #38ccca;
	cursor:pointer;
}
.hover-img img:last-child{display:none}
.hover-img:hover img:first-child{display:none}
.hover-img:hover img:last-child{display:inline-block;}*/







.step-2 h2 {
    text-align: center;
}
.finding-options {
    color: #fff;
    text-align: center;
}
.finding-options .lobster-font {
    padding-bottom: 5px;
}
.finding-options {
    margin-top: -106px;
}
.finding-options h3 {
    color: #fff;
    font-size: 45px;
    text-transform: capitalize;
}
.finding-options h2 {
    font-size: 47px;
}

/*pop-up css*/
.modal-header {
    border-bottom:none;
}

.lobster-font.modal-title {
    color: #118e92;
    font-size: 30px;
    padding-bottom: 0;
	 margin: 0 0 10px;
    text-transform: capitalize;
}
.jsg-banner .modal-body .jsg-submit {
    margin-left: 0;
}
.step-4 .modal-dialog {
    width: 400px;
	margin:40px auto;
	
}
.step-4 .modal-body > form {
    margin: auto;
    text-align: center;
      width: 255px;
}
.jsg-submit {
    border-radius: 0;
    cursor: pointer;
	background-color: #33cccc;
    border-color: #33cccc;
    color: #fff;
	/*   height: 30px;*/
	padding: 6px 30px;
}
.form-inline .jsg-submit{
	padding-left:10px;
	padding-right:10px;
}
.flight-result-for{
    text-transform:uppercase;
}
.step-back{
	display:block;
	position:absolute;
	left:15px;
	width:53px;
	height:100%;
	top:0;
	background:url("../assets/step-back.png") no-repeat center center;
	z-index:100;
}
.step-1 .jsg-submit 
{
	margin-left:30px;
}
.jsg-submit:hover,
.jsg-submit:active,
.jsg-submit:focus
{
	background-color: #028c90;
    border-color: #028c90;
    color: #fff;	
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline:none;
    outline-offset:0px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    background-color: #028c90;
    border-color: #028c90;
    color: #fff;
}


.step-4 .modal-content p
{
	color:#b1b1b1;
}
.step-4 .modal-content {
    
    border-radius: 0;
}
.step-4 .modal-content .form-group {
    margin-bottom: 10px;
}
.step-4 .modal-content .form-control {
    padding: 6px 8px;
}
.lists li:hover h5, .lists li:hover .fa-angle-down
{
	color:#fff;
}

.error{
	border: 2px solid red;
}

/*------------------------search-results page-------------------------*/


/*.search-form .jsg-submit {
    background-color: #33cccc;
    border-color: #33cccc;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    height: auto;
    padding: 5px 15px;
    text-transform: uppercase;
}*/
.lists li {
    color: #b1b1b1;
    float: left;
    list-style:none;
    text-transform: uppercase;
}

.lists li button{
	margin: 0 5px;
    padding: 10px 15px;
	display:inline-block;
}

.lists li:hover,
.lists li:active,
.lists li:focus
 {
    background-color: #33cbcc;
    color: #fff;
}


.clear{
	clear:both;
}

.ui-slider-horizontal{
    margin-top:10px;
}

 
span.ui-slider-handle.ui-state-default.ui-corner-all {
    background: #fff;
    border-radius: 50%;
    padding: 15px;
    top: -12px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.lists .btn.active h5, .lists .btn.active span.fa{
	color:#33cccc;
}

/*.lists .btn.btn-default.dropdown-toggle:hover h5,
.lists .btn.btn-default.dropdown-toggle:hover span.fa {
    color: #fff;
}*/


.lists .btn.btn-default.dropdown-toggle:hover h5, .lists .btn.btn-default.dropdown-toggle:active h5, .lists .btn.btn-default.dropdown-toggle:focus h5,
.lists .btn.btn-default.dropdown-toggle:hover span.fa, .lists .btn.btn-default.dropdown-toggle:active span.fa, .lists .btn.btn-default.dropdown-toggle:focus span.fa

{
    color: #fff;
}


.lists .dropdown-menu li {
    margin: 0;
    padding: 5px 10px;
}

.lists .time .dropdown-menu li {
    margin: 0;
    padding: 5px 12px;
}

.lists .dropdown-menu li:hover,
.lists .dropdown-menu li:active,
.lists .dropdown-menu li:focus {
    background-color: #fff;
    color: #333;
 
}
.stops .dropdown-menu span {
    font-weight: normal;
    margin-left: 5px;
    color:#7f7f7f;
}
.bootstrap-tagsinput .tag{
    background-color:#33cccc;
}
.search-results .result-container {
    padding-top: 28px;
}
.stops .dropdown-menu label {
    margin-bottom: 0;
	color: #555;
}
.hotel-img {
    position: relative;
}

.hotel-img > span {
    background-color: red;
	-moz-box-shadow:    0 0 1px 1px #ea5656;
  -webkit-box-shadow: 0 0 1px 1px #ea5656;
    box-shadow: 0 0 1px 1px #ea5656;
    color: #fff;
    font-size: 13px;
    left: 13px;
    padding: 1px 7px;
    position: absolute;
    top: 5px;
}



 .box {
	padding:2px;
	box-sizing:border-box;
	height:auto;
	padding-bottom:0;
} 

.box h5 {
    margin-bottom: 15px;
    margin-top: 20px;
    min-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
	font-weight:300;
	font-size:1.4em;
}

.hr {
    min-height: 50px;
}
.box-info > p {
    color: #fff;
}
.box > img {
    float: right;
}


.middle-title {
	font-size: 15px;
    height: 55px;
    position: relative;
	color: #fff;
	text-transform: uppercase;
}
.middle-title > span {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}



.box-info > p {
    color: #fff;
    font-size: 12px;
    line-height: 10px;
    text-transform:uppercase;
}
.box-info > p span{
    font-size:19px;
    display:block;
    text-transform:lowercase;
    line-height:normal;
}
.light-blue
{
	border: 2px solid #33cccc;	
}
 
.yellow
{
	border: 2px solid #ffc000;	
}
.light-grey
{
	border: 2px solid #bfbfbf;	
}

.grey
{
	border: 2px solid #7f7f7f;	
}
.list-box
{
	margin-bottom:20px;
	height:auto;
}
 
.search-options .box-info > p {
    color: #b1b1b1;
	font-size: 14px;
	line-height:normal;
}

.search-options .fa {
    color: #b1b1b1;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 20px;
    min-height: 20px;
    text-align: left;
}
.country_logo {
    width: 35px;
}
.copyright a {
    color: #fff;
}
a:focus {
    outline:none;
    outline-offset: 0px;
	text-decoration:none;
}
.blocks .fa {
    font-size: 40px;
}
.blocks input {
    display: none;
}
.share-link, .view-favorites {
    border: 2px solid #33cccc;
   color: #33cccc;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.share-link:hover, .share-link:active, .share-link:focus,
.view-favorites:hover, .view-favorites:active, .view-favorites:focus
 
  {
	background-color:#33cccc;
    color: #fff;
   
}



.left-part h4, .right-part h4 {
    margin-top: 0;
	color: #7f7f7f;
    padding: 0 0 10px;
}
.jsg-hotel-tabs {
    padding-bottom: 15px;
}
.right-part .list-box {
    margin-bottom: 10px;
}
.search-options .box {
    border: 1px solid #ccc;
    min-height: 100px;
    padding: 10px;
}
.right-part {
    border-left: 1px solid #ccc;
}
/*.timing-results {
    padding-right: 30px;
}*/
.load-more > a {
    color: #33cccc;
    font-size: 17px;
}
.jsg-hotel-tabs-inner {
    padding: 0;
}
input[type=date] {
  text-transform: uppercase;
}
.clear-text > button {
    background-color: transparent;
    border: inherit;
    color: #33cccc;
    padding: 10px 0;
    text-transform: uppercase;
}
.back > button {
    background-color: transparent;
    border: inherit;
    color: #33cccc;
  /*  padding: 10px 0;*/
    text-transform: uppercase;
}
.lists li:first-child {
    margin-left: 0;
}
.lists > ul {
    margin: 0;
}
.lists .dropdown, .lists .dropup {
    display: inline;
    position: relative;
}
.lists h5 {
    display: inline;
	 color: #7f7f7f;
    text-transform: uppercase;
}
.lists .dropdown .fa {
    color: #7f7f7f;
}
.lists .btn-default {
    background-color: transparent;
    border-color: transparent;
    color: #b1b1b1;
}
.lists .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
    color: #b1b1b1;
}
.no-records{
    transition: all 0.001s;
}
.lists .btn-default.active.focus, 
.lists .btn-default.active:focus, 
.lists .btn-default.active:hover, 
.lists .btn-default.focus:active, 
.lists .btn-default:active:focus, 
.lists .btn-default:active:hover, 
.lists .open > .dropdown-toggle.btn-default.focus, 
.lists .open > .dropdown-toggle.btn-default:focus, 
.lists .open > .dropdown-toggle.btn-default:hover {
    background-color: transparent;
    border-color: transparent;
    color: #b1b1b1;
}
.lists .btn.active, .lists .btn:active {
    background-image: none;
    box-shadow: inherit;
	color:#ff0000;
}
 
.lists .btn-default.active, .lists .btn-default:active, .lists .open > .dropdown-toggle.btn-default {
    background-color: transparent;
    border-color: transparent;
    color: #333;
}
.lists .time .dropdown-menu {
	min-width: 400px;
    padding:0 10px 25px 0;
}
.lists .dropdown-menu {
    border-radius: 0;
    box-shadow: inherit;
    margin: 13px 0 0;
	
}

.filter-slider{
    margin-left:10px;
    margin-right:10px;
}

.price .filter-slider, .duration .filter-slider{
    margin-top:30px;
}

.price li, .stops li, .duration li{
    float:none;
}

.stops li label{
    cursor:pointer;
}

.price .dropdown-menu, .duration .dropdown-menu{
    padding: 5px 10px 20px 0;
    width: 230px;
}

#price-filter, #duration-filter{
    margin-top:25px;
    width:250px;
}
.lists .dropdown-menu > li > a {
    padding: 3px 0;
}
.lists .dropdown-menu > li > a:focus, .lists .dropdown-menu > li > a:hover {
    background-color: transparent;
}
.serch-part h3 {
    margin-bottom: 40px;
}
.list-box a:hover {
    text-decoration: none;
}



a:focus, a:hover {
    text-decoration: none;
}
.blank-bg {
	 margin-bottom: 2px;
	 padding:5px;
	background:#fff;
}  
   
.favorites-section .fav-share {
    text-align: right;
	margin-bottom: 20px;
}
.favorites-section .back {
    padding-top: 15px;
}
.time strong {
    color: #555;
}
.blank-bg .box-info h5, .blank-bg .box-info p {
    color: #028c90;
    text-align: left;
	min-height: 15px;
	margin:0;
}
.box-detail > img {
    float: right;
}
.blank-bg > a {
    float: right;
}

/*.blank-bg:last-child {
    border-bottom: 0 solid #028c90;
}*/

.blank-bg .fa-times {
    color: #028c90;
}
.blank-bg h5 {
    margin-top: 5px;
}

.removeicon{
	display:block;
	padding:2px;
	cursor:pointer;
}

.booking-time ul{
	margin:0;
	padding:0;
	list-style:none;
}
.booking-time li {
    display: inline-block;
    vertical-align:top;
}
.booking-time span {
    color: #b1b1b1;
    font-size: 11px;
    text-align: center;
}
.booking-time h5 {
    margin: 0;
}
/*.timing-results p {
    font-size: 12px;
}*/
.currnt-time > p {
    display: inline-block;
    margin-left: 2px;
}
.booking .jsg-submit {
    margin-left: 3px;
    padding: 3px 15px;
    font-size: 19px;
    text-transform: uppercase;
}
.app-content{ min-height:80%; margin-bottom: 100px;}
.jsg-hotel-tabs-inner .left-part {
    padding: 0;
}
.jsg-hotel-tabs-inner .nav-pills > li.active > a, 
.jsg-hotel-tabs-inner .nav-pills > li.active > a:focus, 
.jsg-hotel-tabs-inner .nav-pills > li.active > a:hover 
{
    background-color: #33cccc;
    color: #fff;
}
.hotel-results .right-part {
    margin-top: 48px;
}
.jsg-hotel-tabs-inner .nav-pills > li {
    float: left;
    text-align: center;
      width: 49%;
}
/*.jsg-hotel-tabs-inner .nav-pills > li + li {
    margin-left: 3px;
}*/
.jsg-hotel-tabs-inner .nav-pills {
    margin-bottom: 15px;
}
.jsg-hotel-tabs-inner .nav-. {
    border-bottom: 2px solid #33cccc;
}
.jsg-hotel-tabs-inner .nav-pills > li > a {
    border-radius: 0;
	
}
.booking {
    text-align: right;
}
.booking > p {
    /*display: inline-block;*/
    /*float: left;*/
	text-align: left;
	float: left;
}
.star {
    color: #33cccc;
	display:block;
	padding:0 5px;
    margin:0 5px;
    cursor:pointer;
}
.star:hover{
    color:#028c90;
}
.country_logo > img {
    background-color: inherit;
    max-width: 100%;
	   margin-top: -15px;
	/*margin-bottom: 20px;*/
}
.currnt-time .fa-wifi {
    font-size: 11px;
}

/*.country_logo {
    width: 35px;
}*/
 
.hotel-img > img {
    max-width: 100%;
}
.hotel-rate .star {
    display: inline-block;
    float: right;
}
.hotel-rate .star img {
   
    margin-top: 0px;
}
.hotel-info > h5 {
    font-size: 12px;
    margin: 0;
}
/*.hotel-info span {
    font-size: 11px;
}*/
.hotel-rate > h5 {
    margin: 0;
}
/*.hotel-rate {
    margin-top: -5px;
}*/
/*.hotel-detail span {
    color: #fff;
    font-size: 11px;
}*/
.hotel-info span {
    color: #b1b1b1;
	font-size: 12px;
}
.hotel-rate > span
{
    font-size: 11px;
}
.book-hotel {
    margin-top: 10px;
}
.show-results {
   border-bottom: 1px solid #f5f5f5;
    display: table;
    margin: 10px 10px 10px 0;
    padding-bottom: 5px;
}
.jsg-hotel-tabs .nav-tabs > li.active > a, 
.jsg-hotel-tabs .nav-tabs > li.active > a:focus, 
.jsg-hotel-tabs .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #33cccc;
    border-color: #33cccc #33cccc transparent;
    border-image: none;
    border-style: normal;
    border-width: 0px;
    color: #fff;
    cursor: pointer;
}
.load-more {
    margin: 20px 0 10px;
}
.jsg-hotel-tabs .nav-tabs {
    border-bottom: 2px solid #33cccc;
}
.jsg-hotel-tabs .nav-tabs > li {
    float: left;
    margin-bottom: -2px;
}
/*.jsg-hotel-tabs .nav > li {
    width: 50%;
}*/
.jsg-hotel-tabs .nav-tabs > li > a {
    margin-right: 0;
    text-align: center;
}
.jsg-hotel-tabs .nav > li > a {
    color: #7f7f7f;
}
.textbox > span {
    background-color: #34cece;
    color: #fff;
    padding: 3px 7px;
}
.textbox a {
    color: #fff;
}

.textbox {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.set-favorite {
   /* background-color: #000;*/
    display: block;
    height: 35px;
    padding: 5px;
    position: absolute;
    right: 17px;
    width: 35px;
    z-index: 1;
}

.set-favorite .fa-star, .set-favorite .fa-star-o {
    color: #fff;
    font-size: 20px;
}

.flight-booking {
    border-bottom: 1px solid #f5f5f5;
    display: table;
    width: 100%;
    padding:10px 0;
}

.Connected .flight-booking:last-child{
    padding-bottom:0;
    border-bottom:0;
}

.Connected {
    border-bottom:2px solid #ccc;
}
.box-detail {
    display: block;
    padding: 5px;
	box-sizing:border-box;
}

.middle-title {
    color: #fff;
    font-size: 15px;
    height: 55px;
    position: relative;
    text-transform: uppercase;
}


.hotel-rate del {
    color: red;
	font-size: 10px;
}






.flight-time .fa-wifi {
    color: #7e7e7f;
	font-size: 13px;
}
.rate > span {
    font-size: 12px;
}
.non-stop > p {
    font-size: 13px;
}
.show-flight-results {
    border-bottom: 1px solid #f5f5f5;
    display: table;
    padding: 9px 0;
    width: 100%;
}
.rate > h5 {
    margin: 0;
	font-size: 17px;
}

.fav-star img {
    background-color: #33cccc;
    padding: 7px 3px;
}

.country-logo > img {
    max-width: 100%;
}
.rate {
    padding: 0 2px;
    text-align: center;
}
.country-logo {
    padding:0;
	 width: 33px;
}
.flight-detail {
    padding: 0 5px;
}
.fav-star {
    padding: 0 2px;
}
.country-logo {
    margin-left: 5px;
    padding: 0;
    width: 33px;
}
.flight-detail > p {
    font-size: 14px;
	 margin-top: -2px;
}
.flight-time {
    padding: 0 2px;
	margin-top: -3px;
}
.rate > span, .flight-detail > span {
    color: #b1b1b1;
}
.non-stop {
    padding: 0;
}
.flight-time > p {
    display: inline;
	font-size: 13px;
    margin-left: 2px;
}

@media only screen and (max-width:1024px)
{
.steps h2 {
    font-size: 50px;
	}
/*.inner-content {
    min-height: 532px;
}*/
.inner-content p {
     
    padding: 0 20px;
}

.finding-options h2 {
    font-size: 47px !important;
    
}
.h5, h5 {
    font-size: 12px;
}
.non-stop {
    padding: 0 5px;
}


.hotel-results .right-part {
    margin-top: 55px;
}



}
@media only screen and (max-width:1024px)
{
	
	.hotel-results .right-part {
    margin-top: 65px;
}
}

@media only screen and (max-width:767px)
{
.right-part{
    border:none;
    clear:both;
}
header h1 img {
    max-width: 100%;
}	
	
h1, h2 {
    text-align: center;
}
/*.steps h2 {
    font-size: 28px;
}*/
.main {
    padding: 50px 0 0;
}

.jet-set-submit {
    display: block;
    margin: 35px auto;
    width: 100%;
}
.inner-content h3 {
    font-size: 25px;
}
.jsg-work {
    margin-bottom: 40px;
    margin-top: 30px;
	

    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;


}
/*footer {
    text-align: center;
}
.social-icons ul {
    float: none;
    margin: auto;
    width: 30%;
}
footer {
    padding: 10px 0;
}*/
.copyright {
    float: none !important;
    text-align: center;
}
.social-icons {
    text-align: center;
}
.blocks h4 {
    margin-bottom: 10px;
}
/*.step-2 h2 {
    font-size: 40px !important;
}*/
.finding-options {
    margin-top: 0;
}

.finding-options h2 {
    font-size: 35px !important;
}
/*popup-css*/

/*.step-4 .modal-dialog {
    width:auto;
}*/
.step-1 .jsg-submit {
    display: block;
    height: 40px;
    
    width: 100%;
}
.blocks {
    margin-left: 0;
}
.blocks label {
    margin-bottom: 10px;
}
.jsg-submit {
    width: 100%;
}
.lists {
    margin-top: 20px;
}
.lists {
    background-color: #f5f5f5;
}
}

@media only screen and (max-width:736px)
{
.home-airport-form
{
	width: 473px;
    margin: auto;

}

.leaving, .returning {
    display: inline-block;
    
}
.home-airport {
    display: inline-block;
   
}
.home-airport-form .jsg-submit {
    display: inline-block;
    height: 30px;
	    width: auto;
		    margin-left: 0;
}

.where-to .form-group, .where-from .form-group {
    display: inline-block;
    width: 40%;
}
.where-from .search {
    width: 20%;
}


.flight-info {
    width: 50%;
}
.flight-time {
    margin-bottom: 0px;
    margin-top: -3px;
    padding: 0 15px;
    text-align: left;
    width: 15%;
}
.non-stop {
    margin: 0;
    padding: 0;
    text-align: right;
    width: 15%;
}

.booking-flight {
    width: 20%;
}

.clear-text {
    background-color: #f5f5f5;
    text-align: right;
}
.lists {
    width: 75%;
}
.clear-text {
    background-color: #f5f5f5;
    width: 25%;
    margin-top: 20px;
}

}


@media only screen and (max-width:640px)
{
	
.leaving, .returning {
    display: inline-block;
    /*width: 222px !important;*/
}
.home-airport {
    display: inline-block;
    /*width: 500px !important;*/
}
.step-1 .jsg-submit {
    margin: 20px 0;
}
}


@media only screen and (max-width:480px)
{

/*.step-4 .modal-dialog {
    width:auto;
}*/
.step-1 .jsg-submit {
    margin: 40px 0;
}


.leaving {
    margin-right: 0;
	margin-bottom: 15px;
    width: 100% !important;
}
.returning {
    width: 100% !important;
}
.home-airport {
    width: 100% !important;
}
.blocks a {
    padding: 0 35px;
}
.step-3 h2, .step-4 h2, .step-2 h2 {
    font-size: 28px;
	line-height: normal;
}
.home-airport-form {
    width: auto;
    
}
.home-airport-form .jsg-submit {
    height: 40px;
    width: 100%;
}
.where-to .form-group, .where-from .form-group {
    width: 100%;
}
.where-from .search {
    width: 100%;
}






.flight-detail {
    padding: 0 15px;
}
.country-logo {
    margin-left: 8px;
    padding: 0;
   
}

.fav-star {
    padding: 0;
}
.flight-time {
    margin-bottom: 15px;
    margin-top: 12px;
    padding: 0 15px;
    text-align: right;
	 width: 50%;
}
.non-stop {
    margin: 15px 0;
    padding: 0 15px;
    text-align: left;
	 width: 50%;
}

.flight-info {
    width: 100%;
}
.booking-flight {
    width: 100%;
}


.lists {
    width: 100%;
}
.clear-text {
    
    width: 100%;
    margin-top: 0px;
}


.lists li button {
    padding: 10px 3px;
}








}

@media only screen and (max-width:450px)
{
	.list-box{
		width:100%;
	}
 
.step-4 .modal-dialog {
    width: 300px;
   
}
.lobster-font.modal-title {
  
    font-size: 25px;
}
.lists li {
   
    margin: 0;
}

.lists .time .dropdown-menu {
    min-width: 290px;
}
.lists .duration .dropdown-menu {
    left: -87px;
}

}

@media only screen and (min-width:1550px){
	.jsg-banner{
		min-height: 505px;
	}
	.jsg-footer{
		/* position:fixed;
		bottom:0;
		width:100%;*/
	}
}




.ui-datepicker-calendar .ui-state-default{
	border-color:#fff !important;
	background:#fff !important;
}

.ui-datepicker-calendar .ui-state-default:hover{
	background:#33cccc !important;
	color:#fff !important;
}

.error-on-form{
	color:#ff0000;
	position: relative;
    top: -26px;
    left: 10px;
    background: #fff;
    display: inline-block;
}

.ui-autocomplete {
	max-height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
height: 250px;
}
* {
	transition: all 0.5s ease, left 0.001ms, top 0.001ms;
}
.ui-autocomplete{
	transition:none;
}

.ui-menu .ui-menu-item{
	border: none;
    padding: 5px 10px;
}

.email-alert p{
	color:#2a2a2a !important;
}